h1 {
    color: #555
}

.oferta {
    margin-top: 25px
}

.oferta img {
    width: 372px;
    height: 240px;
}

.thumbnails {
    margin-top: 10px;
}

.thumbnails img {
    width: 124px;
    height: 80px;
    /* espaçamento da distancia entre as img */
    margin-right: 10px;
    /* espaçamento entre a img e o componente abaixo da img */
    margin-bottom: 10px;
}

a{
    color: green;
}
.marginBottom{
   
    margin-bottom: 150px;
}